<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style/main.css'  %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
</head>

<body >
    
    <header>
        <div class="logo">
            <img src="" alt="">
        </div>
        <nav class="meny">
            <li>start</li>
            <li>about us</li>
            <li>contact </li>
        </nav>
        <h1 class='name-company'> center</h1>
        
        <!-- <button class="button slider-prev">Prev</button>
        <div class="slider">
            <div class="slider-line">
                <img src="{% static 'img/test.jpg' %}" alt="aa"  >
                <img src="{% static 'img/test.jpg' %}" alt="aa"  >
                <img src="{% static 'img/test1.jpg' %}" alt="aa"  >
                <img src="{% static 'img/test.jpg' %}" alt="aa"  >
                <img src="{% static 'img/test.jpg' %}" alt="aa"  >
            </div>
        </div>
        
        <button class="button slider-next">Next</button> -->
    </header>
    <section class="block-info">
        <div>
            <h2>text</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis eos illo perferendis? At et quas fuga minus. Nemo ullam natus harum reiciendis quos iure ipsum, magnam error repellendus asperiores eaque!
            Modi et illum sequi commodi, aut magnam libero cupiditate expedita voluptatum labore atque sapiente nostrum impedit dicta, nisi, nemo aperiam laborum vitae eos! Quam laboriosam delectus provident earum eveniet accusantium.
            Sunt alias libero neque aspernatur voluptatum odit magni! Amet voluptatem quis corporis culpa ipsum eligendi labore dolorem repudiandae iure repellendus esse expedita, minima magnam tempora neque reiciendis nemo eos. Nemo.
            Voluptas eos, voluptates exercitationem laudantium reiciendis alias ab dignissimos quod aperiam! Repudiandae, obcaecati ex. Expedita, maxime possimus quasi nihil enim quae atque vitae esse dolor laudantium dolore obcaecati ipsam consequatur?
           </p>
        </div>
        <img src="{% static 'img/test.jpg' %}" alt="aa"  >
    </section>
    <section class="block-info" >
        <img src="{% static 'img/test.jpg' %}" alt="aa">
        <div>
            
            <h2>text</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis eos illo perferendis? At et quas fuga minus. Nemo ullam natus harum reiciendis quos iure ipsum, magnam error repellendus asperiores eaque!
            Modi et illum sequi commodi, aut magnam libero cupiditate expedita voluptatum labore atque sapiente nostrum impedit dicta, nisi, nemo aperiam laborum vitae eos! Quam laboriosam delectus provident earum eveniet accusantium.
            Sunt alias libero neque aspernatur voluptatum odit magni! Amet voluptatem quis corporis culpa ipsum eligendi labore dolorem repudiandae iure repellendus esse expedita, minima magnam tempora neque reiciendis nemo eos. Nemo.
            Voluptas eos, voluptates exercitationem laudantium reiciendis alias ab dignissimos quod aperiam! Repudiandae, obcaecati ex. Expedita, maxime possimus quasi nihil enim quae atque vitae esse dolor laudantium dolore obcaecati ipsam consequatur?
           </p>
        </div>
        
    </section>
    <section class="block-info">
        <div>
            <h2>text</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis eos illo perferendis? At et quas fuga minus. Nemo ullam natus harum reiciendis quos iure ipsum, magnam error repellendus asperiores eaque!
            Modi et illum sequi commodi, aut magnam libero cupiditate expedita voluptatum labore atque sapiente nostrum impedit dicta, nisi, nemo aperiam laborum vitae eos! Quam laboriosam delectus provident earum eveniet accusantium.
            Sunt alias libero neque aspernatur voluptatum odit magni! Amet voluptatem quis corporis culpa ipsum eligendi labore dolorem repudiandae iure repellendus esse expedita, minima magnam tempora neque reiciendis nemo eos. Nemo.
            Voluptas eos, voluptates exercitationem laudantium reiciendis alias ab dignissimos quod aperiam! Repudiandae, obcaecati ex. Expedita, maxime possimus quasi nihil enim quae atque vitae esse dolor laudantium dolore obcaecati ipsam consequatur?
           </p>
        </div>
        <img src="{% static 'img/test.jpg' %}" alt="aa">
    </section>
    <section class="block-info" >
        <img src="{% static 'img/test.jpg' %}" alt="aa">
        <div>
            
            <h2>text</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis eos illo perferendis? At et quas fuga minus. Nemo ullam natus harum reiciendis quos iure ipsum, magnam error repellendus asperiores eaque!
            Modi et illum sequi commodi, aut magnam libero cupiditate expedita voluptatum labore atque sapiente nostrum impedit dicta, nisi, nemo aperiam laborum vitae eos! Quam laboriosam delectus provident earum eveniet accusantium.
            Sunt alias libero neque aspernatur voluptatum odit magni! Amet voluptatem quis corporis culpa ipsum eligendi labore dolorem repudiandae iure repellendus esse expedita, minima magnam tempora neque reiciendis nemo eos. Nemo.
            Voluptas eos, voluptates exercitationem laudantium reiciendis alias ab dignissimos quod aperiam! Repudiandae, obcaecati ex. Expedita, maxime possimus quasi nihil enim quae atque vitae esse dolor laudantium dolore obcaecati ipsam consequatur?
           </p>
        </div>
        
    </section>
    <h2 style="text-align: center;">zakres</h2>
    <section class="uslugi">
        
        <div class="usluga">
            <img src="{% static 'img/test.jpg' %}" alt="1">
            <p>1</p>
        </div>
        <div class="usluga">
            <img src="{% static 'img/test.jpg' %}" alt="2">
            <p>2</p>
        </div>
        <div class="usluga">
            <img src="{% static 'img/test.jpg' %}" alt="2">
            <p>2</p>
        </div>
        <div class="usluga">
            <img src="{% static 'img/test.jpg' %}" alt="2">
            <p>2</p>
        </div>
        <div class="usluga">
            <img src="{% static 'img/test.jpg' %}" alt="3">
            <p>3</p>
        </div>
        <div class="usluga">
            <img src="{% static 'img/test.jpg' %}" alt="4">
            <p>4</p>
        </div>

    </section>
    <div id="works"  class="works">

        {% for work in worker_list %}
        <div style="width: 30%; background-color:brown; margin: 5px;" >
            <h1>{{work.name}}</h1>
            
            <p>{{work.salary}}</p>
            <p>details</p>
            <div>
                {{work.description}}
            </div>
        </div>
        {% endfor %}
    </div>
        <!-- <select name="" id="">
            <option disabled>Выберите героя</option>
            {% for work in worker_list %}
            <option value='{{work.name}}' >{{work.country}} - {{work.name}}</option>
            
            {% endfor %}
            
        </select> -->
    
        <form action="" method="post">
            <p>23</p>
        </form>

<footer>
    <p>2</p>
</footer>
<!-- slider -->
    <script>
        const images = document.querySelectorAll('.slider .slider-line img');
    const sliderLine = document.querySelector('.slider .slider-line');
    let count = 0;
    let width;

function init() {
    console.log('resize');
    width = document.querySelector('.slider').offsetWidth;
    sliderLine.style.width = width * images.length + 'px';
    images.forEach(item => {
        item.style.width = width + 'px';
        item.style.height = 'auto';
    });
    rollSlider();
}

init();
window.addEventListener('resize', init);

document.querySelector('.slider-next').addEventListener('click', function () {
    count++;
    if (count >= images.length) {
        count = 0;
    }
    rollSlider();
});

document.querySelector('.slider-prev').addEventListener('click', function () {
    count--;
    if (count < 0) {
        count = images.length - 1;
    }
    rollSlider();
});

function rollSlider() {
    sliderLine.style.transform = 'translate(-' + count * width + 'px)';

}
    </script>
<!-- end slider -->
 <script>
    const l = document.getElementById('works');
    const a = document.getElementById('a');
    a.addEventListener('click',()=>{
        l.style.display='flex'
    }
    )
    
</script> 
</body>
</html>